* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFDEE9;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sunflower-icon {
    width: 30px; 
    height: 30px;
    vertical-align: middle;
  }

h1 {
  text-align: center;
  padding: 10px 0;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color:#5D2E8C;
}

.container {
  width: min(100vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: #FFF5BA;
  box-shadow: 0 6px 6px #FFA69E;
  flex-direction: column;
}

label {
  color: #5D2E8C;
  margin-bottom: 20px;
  font-weight: bold;
}

button {
    width: 150px; 
    height: 50px;  
    border: none;
    padding: 15px; 
    border-radius: 15px;
    background-color: #FFA69E;
    color: #fff;
    cursor: pointer;
    margin-top: px; 
    font-size: 1.2rem; 

}

input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #5D2E8C;
}

input:focus {
  border-bottom: 3px solid #5D2E8C;
}

input::placeholder {
  text-align: center;
}

input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}

#result {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.palindrome-definition-div {
  width: min(100vw, 450px);
  font-size: 1.3rem;
  min-height: 140px;
  background-color: #FFD3B6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palindrome-definition {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color:#5D2E8C;
}


#glitterContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  
  .flower {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('https://img.icons8.com/?size=100&id=Y6v4nAuvNhj6&format=png&color=000000') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    animation: flowerAnimation 2s forwards;
  }
  
  @keyframes flowerAnimation {
    0% {
      opacity: 1;
      transform: scale(0) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(2) translateY(-100px);
    }
}